.container {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.container img {
  margin: 0 auto;
	width: 100%;
	display: block;
	vertical-align: top;
}

.text-container {
	background-color: #102455;
	height: 194px;
	text-align: center;
}

.text-container div {
	margin: 0 auto;
  padding: 30px 30px;
}

.text-container p {
	text-align: left;
  margin: 0;
  font-size: 10px;
  color: #FFF;
  font-weight: 200;
}

.text-container p:first-child {
  font-size: 22px;
  margin-bottom: 27px;
}
