/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-angel-down-red {
  background-image: url(sprite-saic.png);
  background-position: -2582px -734px;
  width: 118px;
  height: 64px;
}
.icon-angel-down {
  background-image: url(sprite-saic.png);
  background-position: -2582px -798px;
  width: 118px;
  height: 64px;
}
.icon-angel-right {
  background-image: url(sprite-saic.png);
  background-position: -2696px -946px;
  width: 18px;
  height: 28px;
}
.icon-avatar-1 {
  background-image: url(sprite-saic.png);
  background-position: -2530px -1174px;
  width: 84px;
  height: 84px;
}
.icon-avatar-2 {
  background-image: url(sprite-saic.png);
  background-position: -2390px -1174px;
  width: 140px;
  height: 140px;
}
.icon-avatar-3 {
  background-image: url(sprite-saic.png);
  background-position: -2582px -946px;
  width: 84px;
  height: 84px;
}
.icon-avatar-4 {
  background-image: url(sprite-saic.png);
  background-position: -2614px -1174px;
  width: 84px;
  height: 84px;
}
.icon-avatar-5 {
  background-image: url(sprite-saic.png);
  background-position: -2582px -862px;
  width: 84px;
  height: 84px;
}
.icon-avatar-6 {
  background-image: url(sprite-saic.png);
  background-position: -2582px -1030px;
  width: 84px;
  height: 84px;
}
.icon-avatar-user {
  background-image: url(sprite-saic.png);
  background-position: -2250px -1174px;
  width: 140px;
  height: 140px;
}
.icon-bg-international {
  background-image: url(sprite-saic.png);
  background-position: -750px 0px;
  width: 750px;
  height: 815px;
}
.icon-bg-market {
  background-image: url(sprite-saic.png);
  background-position: 0px 0px;
  width: 750px;
  height: 870px;
}
.icon-bg-news {
  background-image: url(sprite-saic.png);
  background-position: -1500px 0px;
  width: 750px;
  height: 808px;
}
.icon-bg-shanghai {
  background-image: url(sprite-saic.png);
  background-position: 0px -870px;
  width: 750px;
  height: 700px;
}
.icon-button-action {
  background-image: url(sprite-saic.png);
  background-position: -2666px -896px;
  width: 40px;
  height: 30px;
}
.icon-folder {
  background-image: url(sprite-saic.png);
  background-position: -750px -870px;
  width: 750px;
  height: 576px;
}
.icon-heart {
  background-image: url(sprite-saic.png);
  background-position: -2666px -946px;
  width: 30px;
  height: 28px;
}
.icon-label-dollar {
  background-image: url(sprite-saic.png);
  background-position: -2582px -1114px;
  width: 72px;
  height: 48px;
}
.icon-label-law {
  background-image: url(sprite-saic.png);
  background-position: -2316px -1314px;
  width: 54px;
  height: 58px;
}
.icon-label-market {
  background-image: url(sprite-saic.png);
  background-position: -2530px -1258px;
  width: 62px;
  height: 50px;
}
.icon-label-product {
  background-image: url(sprite-saic.png);
  background-position: -2250px -1314px;
  width: 66px;
  height: 66px;
}
.icon-label-selected {
  background-image: url(sprite-saic.png);
  background-position: -2666px -862px;
  width: 36px;
  height: 34px;
}
.icon-logo {
  background-image: url(sprite-saic.png);
  background-position: -2250px -734px;
  width: 332px;
  height: 440px;
}
.icon-pic-1 {
  background-image: url(sprite-saic.png);
  background-position: -2250px 0px;
  width: 466px;
  height: 384px;
}
.icon-pic-2 {
  background-image: url(sprite-saic.png);
  background-position: -2250px -384px;
  width: 452px;
  height: 350px;
}
.icon-pic-3 {
  background-image: url(sprite-saic.png);
  background-position: -522px -1570px;
  width: 522px;
  height: 350px;
}
.icon-pic-4 {
  background-image: url(sprite-saic.png);
  background-position: 0px -1570px;
  width: 522px;
  height: 350px;
}
.icon-pic-5 {
  background-image: url(sprite-saic.png);
  background-position: -1566px -1570px;
  width: 522px;
  height: 350px;
}
.icon-pic-6 {
  background-image: url(sprite-saic.png);
  background-position: -1044px -1570px;
  width: 522px;
  height: 350px;
}
.icon-text-report {
  background-image: url(sprite-saic.png);
  background-position: -1500px -870px;
  width: 680px;
  height: 444px;
}
